<h1>New Add Restaurant Reference To Rating</h1>

<%= render 'form', add_restaurant_reference_to_rating: @add_restaurant_reference_to_rating %>

<%= link_to 'Back', add_restaurant_reference_to_ratings_path %>
