<p id="notice"><%= notice %></p>

<p>
  <strong>Restaurant:</strong>
  <%= @add_restaurant_reference_to_rating.Restaurant_id %>
</p>

<%= link_to 'Edit', edit_add_restaurant_reference_to_rating_path(@add_restaurant_reference_to_rating) %> |
<%= link_to 'Back', add_restaurant_reference_to_ratings_path %>
