<p>
  <strong>Name:</strong>
  <%= @minister.name %>
</p>

<p>
  <strong>Party:</strong>
  <%= @minister.age %>
</p>

<p>
  <strong>Age:</strong>
  <%= @minister.party %>
</p>

<%= link_to 'Back', ministers_path %>
