<h1> Showing Accounts Details</h1>

<p><strong> Account Number: </strong><%= @account.accoutnumber %></p>
<p><strong> IFSC code: </strong><%= @account.ifsccode %></p>
<p><strong> Accout Holder Name: </strong><%= @account.accoutholdername %></p>
<p><strong> Branch Name: </strong><%= @account.branchname %></p>
